<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="robots" content="index, follow">
		<meta name="theme-color" content="#f4f5f6">
		<meta name="apple-mobile-web-app-status-bar-style" content="#f4f5f6">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="https://milligram.github.io/">
		
		<title>Shishuvan</title>
		<link rel="canonical" href="https://milligram.github.io/">		
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
		<link rel="stylesheet" href="https://milligram.github.io/css/milligram.min.css">
		<link rel="stylesheet" href="https://milligram.github.io/css/style.css">
		<link rel="icon" href="https://milligram.github.io/img/favicon.png">
	</head>
	<body>

		<main class="wrapper">

			<nav class="navigation">
				<section class="container">

					<a class="navigation-title" href="https://milligram.github.io/">
						<img class="img" src="http://placehold.it/150x150" height="30" alt="Milligram" title="Milligram">
						<h1 class="title">Shishuvan</h1>
					</a>

					<ul class="navigation-list float-right">
						<li class="navigation-item">
							<a class="navigation-link" href="#popover-grid" data-popover>Docs</a>
							<div class="popover" id="popover-grid">
								<ul class="popover-list">
									<li class="popover-item"><a class="popover-link" href="https://milligram.github.io/#getting-started" title="Getting Started">Getting Started</a></li>
									<li class="popover-item"><a class="popover-link" href="https://milligram.github.io/#typography" title="Typography">Typography</a></li>
									<li class="popover-item"><a class="popover-link" href="https://milligram.github.io/#blockquotes" title="Blockquotes">Blockquotes</a></li>
									<li class="popover-item"><a class="popover-link" href="https://milligram.github.io/#buttons" title="Buttons">Buttons</a></li>
									<li class="popover-item"><a class="popover-link" href="https://milligram.github.io/#lists" title="Lists">Lists</a></li>
									<li class="popover-item"><a class="popover-link" href="https://milligram.github.io/#forms" title="Forms">Forms</a></li>
									<li class="popover-item"><a class="popover-link" href="https://milligram.github.io/#tables" title="Tables">Tables</a></li>
									<li class="popover-item"><a class="popover-link" href="https://milligram.github.io/#grids" title="Grids">Grids</a></li>
									<li class="popover-item"><a class="popover-link" href="https://milligram.github.io/#codes" title="Codes">Codes</a></li>
									<li class="popover-item"><a class="popover-link" href="https://milligram.github.io/#utilities" title="Utilities">Utilities</a></li>
									<li class="popover-item"><a class="popover-link" href="https://milligram.github.io/#tips" title="Tips">Tips</a></li>
									<li class="popover-item"><a class="popover-link" href="https://milligram.github.io/#browser-support" title="Browser Support">Browser Support</a></li>
									<li class="popover-item"><a class="popover-link" href="https://milligram.github.io/#examples" title="Examples">Examples</a></li>
									<li class="popover-item"><a class="popover-link" href="https://milligram.github.io/#contributing" title="Contributing">Contributing</a></li>
								</ul>
							</div>
						</li>
						<li class="navigation-item">
							<a class="navigation-link" href="#popover-support" data-popover>Support</a>
							<div class="popover" id="popover-support">
								<ul class="popover-list">
									<li class="popover-item"><a class="popover-link" target="_blank" href="https://github.com/milligram/milligram" title="On Github">On Github</a></li>
									<li class="popover-item"><a class="popover-link" target="_blank" href="https://github.com/milligram/milligram/issues/new" title="Need help?">Need help?</a></li>
									<li class="popover-item"><a class="popover-link" target="_blank" href="https://github.com/milligram/milligram#license" title="License">License</a></li>
									<li class="popover-item"><a class="popover-link" target="_blank" href="https://github.com/milligram/milligram/releases" title="Versions">Versions</a></li>
								</ul>
							</div>
						</li>
					</ul>
					
				</section>
			</nav>

			<section class="container" id="examples">
				<h5 class="title">Home</h5>
				<p>By-line</p>
				
					<table>
                    <thead>
                        <tr>
                            <th>Heading 1</th>
                            <th>Heading 2</th>
                            <th>Heading 3</th>
                            <th>Heading 4</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td><img src=" http://placehold.it/150x150"></td>
                          <td><img src=" http://placehold.it/150x150"></td>
                          <td><img src=" http://placehold.it/150x150"></td>
                          <td><img src=" http://placehold.it/150x150"></td>
                        </tr>
                        <tr>
                        <td><img src=" http://placehold.it/150x150"></td>
                        <td><img src=" http://placehold.it/150x150"></td>
                        <td><img src=" http://placehold.it/150x150"></td>
                        <td><img src=" http://placehold.it/150x150"></td>
                        </tr>
                    </tbody>
                </table>

				
			</section>


			<footer class="footer">
				<section class="container">
					<p>Designed with ♥ by <a target="_blank" href="http://twentyonepilots.com" title="CJ Patoilo">Darshan Gada</a>. Licensed under the <a target="_blank" href="https://github.com/milligram/milligram#license" title="MIT License">MIT License</a>.</p>
				</section>
			</footer>

		</main>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/run_prettify.js"></script>
		<script src="https://milligram.github.io/js/script.js"></script>

	</body>
</html>